.add-btn{
    border-radius: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: $darkYellow;
    height: 75px;
    width: 75px;
    cursor: pointer;
    display: grid;
    place-items: center;
    border: none;
    color:$white;
    @include defaultShadow;
    &:hover{
        @include lightenBtns
    }
}

.material-symbols-outlined{
    font-size: 1.9rem;
}