.delete-btn{
    border-radius: 50px;
    position: fixed;
    left: 25px;
    bottom: 25px;
    background-color: $black;
    height: 75px;
    width: 75px;
    cursor: pointer;
    display: grid;
    place-items: center;
    border: none;
    color:$white;
    @include defaultShadow;
    &:hover{
       background-color: lighten($color: #000000, $amount: 35);

    }
}

