.error{
   width: 60%;
   display: flex;
   justify-content: center;
   margin: auto;
background-color: transparent;
border: 2px solid tomato;
padding: .5rem;
font-size: 1.1rem;
font-weight: 500;
color: tomato;
text-align: center;
text-transform: uppercase;
border-radius: .5rem;
}