.login{
    height: 100%;
    width: 100%;
    background-color: $lightYellow;
    display: flex;
}

@media(max-width:786px){
    .login{
        flex-direction: column;
    }
}

.register{
    background-color: $bgGray;
}

.login-form-container{
    height: 100vh;
    width: 100%;
    place-items: center;
    display: grid;
}

.login-form{
    background-color: $bgGray;
    height:67%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    @include defaultShadow;

}

.register-form{
    background-color: $lightYellow;
    height:67%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    @include defaultShadow;
}


.login-form h2{
    text-align: center;
    padding: 12px;
    font-size: 2.5rem;
    color: $darkYellow;
}

.register-form h2{
    text-align: center;
    padding: 12px;
    font-size: 2.5rem;
}

.input-container{
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 300;
}

.input-container label{
    text-align: center;
    margin-bottom: 16px;
}

.input{
    border: none;
    border-radius: 12px;
    padding: 8px;
    font-size: 1.2rem;
    @include defaultShadow;
}


.input:focus{
    outline: none;
    border:1.5px solid $darkYellow;
}

.login-btn-container{
    padding: 8px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.login-btn{
    padding: 12px;
    font-size: 1.5rem;
    border: none;
    border-radius: 12px;
    background-color: $darkYellow;
    @include defaultShadow;
    color: $white;
    width: 50%;
    margin-top: 12px;
    cursor: pointer;

    &:hover{
        @include lightenBtns;
    }
}

.login-link {
    color: $darkYellow;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
    padding: 8px;
    margin-top: 16px;
    text-align: center;
}