//Imports
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

//Fonts variables
$mainFont: "Fira Sans Condensed", sans-serif, impact;

//Color variables
$bgGray: #EFEFEF;
$black: #000000;
$darkYellow:#E3C404  ;
$lightYellow: #FCE097;
$white:#FFFFFF;
$darkOrange:#cd7000;


//Functions for box shadow
@mixin defaultShadow {
  box-shadow: rgba(0, 0, 0, 0.20) 0px 4px 10px;
}

//function lighten yellow btns
@mixin lightenBtns {
  background-color:lighten($color: $darkYellow, $amount: 5);
}


//Global styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $mainFont;
  }

