//Imports
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
//Fonts variables
$mainFont: "Fira Sans Condensed", sans-serif, impact;
//Color variables
$bgGray: #EFEFEF;
$black: #000000;
$darkYelloW:#E7AB0A;
$lightYelloW: #FCE097;
$white:#FFFFFF;
$darkOrange:#cd7000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: $mainFont;
  }

